*{
    box-sizing: border-box;
}

/* -------------------------------MODIFICACIONES AL BODY--------------------------------------*/
body{
    background-color: rgb(232, 232, 232);
    margin-left: 66px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
    color: rgb(255, 255, 255);
    transition:margin-left 300ms;
    transition: .8s ease all;
}
/* ----------------------------MODIFICACIONES AL ENCABEZADO------------------------------------------*/

header{
    height: 70px;
    /* background-color: #add8e6; */
    background-color: rgb(83, 125, 137) ;
    display:flex;
    margin-top: 0;
    justify-content: center;
}

/* -------------------------------MODIFICACIOENS AL MENU DESPLEGABLE-------------------------------------------*/
nav{
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    border-right: 1px solid rgb(207, 207, 207);
    font-size: 25px;
    width: 70px;
    transition: 300ms;
    cursor: pointer;
}

.botton{
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    border: none;
    margin: 0px;
    cursor: pointer;
}

#botton{
    width: 70px;
    height: 70px;
    border: none;
    margin: 0px;
    cursor: pointer;
}

.lista{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.item-de-lista{
    width: 100%;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    
}

.caja-de-items{
    display: flex;
    margin: 10px 0 10px 0px ;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    place-items: center;
}

.oscurecer{
    transition: 800ms;
}
.oscurecer:hover{
    background-color: rgb(151, 196, 210) ;
    /* background-color: #add8e6; */
}

.item{
    text-decoration: none;
    color: rgb(78, 78, 78);
    margin: 5px 0 5px 30px;
    font-size: 24px;
}

.switch{
    background-color: #262626;
    border-radius: 1000px;
    border:2px solid rgb(207, 207, 207);
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    place-items: center;
}

span{
    width: 30px;
    height: 30px;
    line-height:30px;
    display:block;
    background:none;
    color:#FFFFFF;
}

.boton_modo{
    margin-right: 25px;
}

.switch::after{
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 1000px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

/* -----------------------------------MODIFICACIONES DESLIZAMIENTO DEL MENU Y TEMA----------------------------------*/

.ajuste_body{
    margin-left: 320px;
}

.ajuste_menu{
    width: 320px;
}

.activado{
    background-color: #ffffff;
    border-radius: 1000px;
    border:2px solid rgb(207, 207, 207);
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    place-items: center;
}
.activado::after{
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    border-radius: 1000px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    right: 0;
    left: unset;
}

.dark{
    background-color: #0b0b0b;
    transition:.8s;
    /* transition: .8s ease all; */
}

body.dark nav{
    background-color: #262626;
    /* transition:.8s; */
    transition: .8s ease all;
}

body.dark section{
    background-color: #262626;
    /* transition:.8s; */
    transition: .8s ease all;
}

body.dark .botton{
    background-color: #262626;
    /* transition:.8s; */
    transition: .8s ease all;
}

body.dark p{
    color: #FFFFFF;
}

body.dark a{
    color: #FFFFFF;
}

body.dark h2{
    color: #FFFFFF;
}


/* -----------------------------------MODIFICAIONES AL CONTENIDO DE LA PAGINA----------------------------------*/

section{
    height: 450px;
    margin: 20px 0px 50px 0px;
    background-color: rgba(3, 200, 255, 0.1);
    box-shadow:0px 5px 20px rgb(136, 136, 136);
    display: flex;
}

.text_exp{
    margin:40px 0px 40px 0px;
    background-color: aliceblue;
    place-items: center;
    padding:10px 10px 10px 10px;
    height: 300px;
    box-shadow: 0px 0px 15px rgb(87, 87, 87); 
    color: rgb(78, 78, 78);
}

.contenedor-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#principal{
    margin-top: 50px;
    height: 450px;
    flex-direction: column;
    justify-content: space-around;
}

img{
    max-width: 250px;
    height: auto;
}

p{
    width: 60%;
    margin:0px 10px 0px 25px;
}

.mid{
    flex-direction: row-reverse;
}

.info{
    width: 75%;
    display: flex;
    justify-content: space-around;
    place-items: center;
}

h2{
    text-align: justify;

}

/* ------------------------------------------MODIFICACIONES AL FOOTER -----------------------------------------*/
footer{
    height: 50px;
    background-color: #5f9ea0;
    display: flex;
    justify-content: space-around;
    color: #252525;
}

small{
    justify-content: baseline;
}

/* ------------------------------------------MODIFICACIONES AL IMAGENES -----------------------------------------*/

.perfil{
    width: 150px;
    height: auto;
    border-radius: 1000px;
    border: 3px solid #262626;
}

.profesional{
    height: 150px;
    border-radius: 25px;
    border: 2px solid #252525;
}


body.dark .perfil{
    border: 2px solid #FFFFFF;
}

body.dark .profesional{
    border: 2px solid #FFFFFF;
}
/* ------------------------------------------MODIFICACIONES DE RESOLUCION HASTA 600PX -----------------------------------------*/

@media only screen and (max-width:1600px){
    
    body{
        font-size: x-large all;
    }

} 

/* ------------------------------------------MODIFICACIONES DE RESOLUCION HASTA 600PX -----------------------------------------*/

@media only screen and (max-width:880px){

    .info{
        flex-direction: column-reverse;

    }

    section{
        height: auto;
        flex-direction: column;
    }

}

/* ------------------------------------------MODIFICACIONES DE RESOLUCIO HASTA 450PX -----------------------------------------*/

@media only screen and (max-width:600px){

    .info{
        flex-direction: column-reverse;
        place-items: center;
    }

    .contenedor-info{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .text_exp{
        align-self: center;
        justify-content: space-around
    }
}